body{
  margin: 0;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
header{
padding-top: 20px;
  height: 150px;
  background-image:url("http://lekvilla.com/wp-content/uploads/2015/07/BACKGROUND-FOOTER-1.jpg");
}
header,footer{
        width: 100vw;
}
.logotip{
  float: left; 
  top: 0;
  padding-top:40px;
  padding-left: 250px;
}
header::after{
  content: "";
  clear: both;
  display: block;
}
.descript{
  color: #345F97;
  padding-top:50px;
  padding-left: 400px;

}
.nav{

  margin-bottom: 10px;
  padding: 10px;
}
nav ul{
    max-width:150px;
    background-color: black;
  display: flex;
}
nav li{

    background-color: black;

  margin-left: 10px;
}
#table{
    border-collapse: collapse;
    border: 1px solid grey;
   }
th {border: 1px solid grey;}
td {border: 1px solid grey;}
.conteiner2{
    margin-top:20px;
}
.ch{
    background-color: silver;
}
.n{
    background-color: blue;
}
.footer
 {
width: 100% ;
top: 0;
left:0;
right:0;
z-index: 100;
background-color: black ;
}
.footer__logo {
font-size: 10px;
font-weight: 100;
color : #9F9090;}
